{% extends "layout.html" %}

    {% block headcontent %}
        <p class="text-justify">
            <h1>
            About this Blog
            </h1>
        </p>
        <p class="text-justify"><b>
            This blog is an experiential learning project in Flask.</b>
        </b></p>
    {% endblock headcontent %}

    {% block content %}
    <br>
        <p class="text-justify">
            This blog is designed to be an output in my learning process
            in data visualization, and basic web development through the use
            of Python packages and frameworks, such as Matplotlib, and Flask,
            and a front end focused framework like Bootstrap.
        </p>
        <p class="text-justify">
            The data presented in this blog is also representative of my interest
            in finance and economics. As I am developing this blog, I am learning more
            and more about data visualization, web development, and Python programming,
            in general.
        </p>
        <p class="text-justify">
            I hope that you enjoy  my work, as I have enjoyed making it as well. If you have any
            comments and suggestions as to how I can improve my work, please dont hesitate to 
            contact me, as I am always open to learning from others, and to develop my skills
            further.     
        </p>
    {% endblock content %}