{% extends "layout.html" %}

    {% block headcontent %}
        <p class="text-justify">
            <h1>
            Market Capitalization in the PSE
            </h1>
        </p>
        <p class="text-justify"><b>
            The following charts and insights below will help us dig deeper into the valuation of the PSE 
            through the financial concept known as Market Capitalization.
        </b></p>
    {% endblock headcontent %}

    {% block content %}
        <br>   
        <p class="text-justify">
            As of the second quarter of 2020, the Philippine Stock Exchange (PSE) is 
            valued at a market cap of 13 Trillion Philippine Pesos (263B USD).
        </p>
        <p class="text-justify">
            Market Capitalization, or Market Cap, can be described as the value of a company in the 
            stock market according to what investors are willing to pay for it. This perceived value 
            is calculated by multiplying the total number of shares with the company's current share 
            price. This value can indicate the growth prospects of the company, its inclination to 
            risk, and the reward it can bring forth to the investor with that risk.
        </p>
        <br>
        <br>
        <br>
        <div class="container">
            <h2 class="text-left">An Overview of the Philippine Stock Exchange's Total Market Cap</h2>
            <br>
            <img src="/static/PSEi Market Cap Overview.png" alt="PSEi Market Cap Overview" class = "img-responsive" width = "100%" />
            <br>
            <p class="text-justify">
            This overview gives us an idea of the publicly traded companies within the Philippine Stock Exchange
            that are greatly valued by investors. A large majority of these companies are local business giants and
            international players. The chart also indicates the range of market cap values starting from 88 million 
            pesos to 1.18 trillion pesos.
            </p>
            <p class="text-justify">
            The most valuable company based on market capitalization according to our data is Manulife Financial Corporation,
            a Canada based multinational insurance company. It is followed by SM Investments Corporation, and Sun Life Financial
            Corporation, another Canada based multinational insurance provider. These three companies already make up one-fourth of 
            the PSE's total market cap value. This gives you an idea of the scale of these companies.
            </p>
        </div>
        <br>
        <br>
        <br>
        <div class="container">
            <h2 class="text-left"> Market Capitalization: Sector by Sector</h2>
            <br>
            <img src="/static/marketcap_chart.png" alt="Market Cap Chart by Sector" class = "img-responsive" width = "100%" />
            <br>
            <p class="text-justify">
                With a total market cap of 13,195,130,258,728.8 PHP (266 billion USD), here are the
                respective values of each sector within the Philippine Stock Exchange.
            </p>
            <ul>
                <li>Financial Sector - 3,579,564,948,688.0 PHP</li>
                <li>Holding Firm Sector - 3,223,858,740,650.0 PHP</li>
                <li>Industrial Sector -  2,261,584,126,269.0 PHP</li>
                <li>Mining and Oil Sector - 178,713,618,751.0 PHP</li>
                <li>Property Sector - 1,963,110,571,768.0 PHP</li>
                <li>Service Sector - 1,950,354,206,231.8 PHP</li>
                <li>Small, Medium and Emerging Board Sector - 36,363,398,183.0 PHP</li>
                <li>Exchange Traded Fund (ETF) Sector - 1,580,648,188.0 PHP</li>
            </ul>
        </div>
        <br>
        <br>
        <br>
        <div class="container">
            <h2 class="text-left">The Financial Sector</h2>
            <br>
            <img src="/static/financials_chart.png" alt="Financial Sector" class = "img-responsive" width = "100%" />
            <br>
            <p class="text-justify">
                With a market cap of 3.5 trillion PHP, the Financial Sector ranks at the top of the other PSE sectors.
                The multinational insurance companies, Manulife and Sun Life, are the most valuable companies in this sector, 
                with their values more than half of the local leading banking company, BDO Unibank. 
            </p>
        </div>
        <br>
        <br>
        <br>
        <div class="container">
            <h2 class="text-left">The Holding Firm Sector</h2>
            <br>
            <img src="/static/holdingfirms_chart.png" alt="Holding Firm Sector" class = "img-responsive" width = "100%" />
            <br>
            <p class="text-justify">
                Holding Firms are companies that own shares of other companies. They do not deliver their own 
                services or products, but rather invest in the services and products of other companies in various 
                industries. 
            </p>
            <p class="text-justify">
                And with a market cap of 3.2 trillion PHP, SM Investments leads the pack at 1.1 trillion PHP, with 
                the Ayala Corporation and JG Summit Holdings, trailing at only half the value of SM Investments. 
                Still, Ayala Corporation is valued at 492 billion PHP, and JG Summit Holdings at 444 billion PHP. 
            </p>
        </div>
        <br>
        <br>
        <br>
        <div class="container">
            <h2 class="text-left">The Industrial Sector</h2>
            <br>
            <img src="/static/industrials_chart.png" alt="Industrial Sector" class = "img-responsive" width = "100%" />
            <br>
            <p class="text-justify">
                The Industrial Sector is ranked at the third of the most valuable list in terms of market capitalization amongst all the other sectors.
                At a market cap value of 2.2 billion PHP, the Industrial sector is dominated by the fast moving consumer goods and power distribution companies.
                San Miguel Food and Beverage (404B) tops this sector, followed by the Manila Electric Company (300B), Universal Robina Corporation (285B), and Aboitiz Power (200B). 
            </p>
        </div>
        <br>
        <br>
        <br>
        <div class="container">
            <h2 class="text-left">The Mining and Oil Sector</h2>
            <br>
            <img src="/static/miningandoil_chart.png" alt="Mining and Oil Sector" class = "img-responsive" width = "100%" />
            <br>
            <p class="text-justify">
                The Mining and Oil Sector in the Philippines is valued at 178 billion pesos. Semirara Power and Mining leads the whole sector at
                53 billion pesos, with the Atok Big-Wedge Company and the Nickel Asia Corporation trailing at half the value at 25.9 billion pesos
                and 24.6 billion pesos, respectively.
            </p>
        </div>
        <br>
        <br>
        <br>
        <div class="container">
            <h2 class="text-left">The Property Sector</h2>
            <br>
            <img src="/static/property_chart.png" alt="Property Sector" class = "img-responsive" width = "100%" />
            <br>
            <p class="text-justify">
                Valued at 1.96 trillion pesos, the Property sector is filled with many condominium and mall developers, but is led once 
                again by the Sy and Ayala families. SM Prime Holdings comes at the top at 912 billion pesos, while Ayala Land trails at 500 billion pesos. T
            </p>
        </div>
        <br>
        <br>
        <br>
        <div class="container">
            <h2 class="text-left">The Service Sector</h2>
            <br>
            <img src="/static/services_chart.png" alt="Service Sector" class = "img-responsive" width = "100%" />
            <br>
            <p class="text-justify">
                The telecommunications sector with Globe at 284 billion pesos, and PLDT at 270 billion pesos, lead the Service sector. Razon's port operations company ICTSI follows
                at 202 billion pesos. Villar's funeral park developer Golden Bria Holdings at 181 billion pesos is the only other company to cross the sector's halfway mark value.
            </p>
        </div>
        <br>
        <br>
        <br>
        <div class="container">
            <h2 class="text-left">The Small, Medium, and Emerging Board Sector</h2>
            <br>
            <img src="/static/sme_chart.png" alt="SME Sector" class = "img-responsive" width = "100%" />
            <br>
            <p class="text-justify">
                The Small, Medium, and Emerging Board (SME) sector is the PSE's growth sector for small, and medium entreprises looking to
                utilize the benefits of publicly listing themselves in the stock market for their expansion plans. There are only a handful 
                number of companies in the PSE's SME sector, which is currently valued at 36 billion pesos. 
            </p>
            <p class="text-justify">
                Notable companies include Sia's recent listing of MerryMart valued at 26 billion pesos, and Philab 
                Holdings, a life sciences equipment supplier turned holdings company, is valued at 5.8 billion pesos.  
            </p>
        </div>
        <br>
        <br>
        <br>
        <div class="container">
            <h2 class="text-left">The Exchange Traded Fund (ETF) Sector</h2>
            <br>
            <img src="/static/etf_chart.png" alt="ETF Sector" class = "img-responsive" width = "100%" />
            <br>
            <p class="text-justify">
                Exchange Traded Funds are investment funds traded on stock exchanges, much like stocks. 
                ETFs hold assets such as stocks, commodities, or bonds and generally operate with an arbitrage
                mechanism designed to keep it trading close to its net asset value, although deviations can occasionally occur.
            </p>
            <p class="text-justify">
                The PSE currently only lists one ETF, the First Metro Philippine Equity Exchange Traded Fund (FMETF). 
                The FMETF is managed by the First Metro Asset Management, Inc. The fund is currently valued at 1.58 billion pesos.
            </p>
        </div>
        <br>
        <br>
        <br>
    {% endblock content %}