{% extends "layout.html" %}

    {% block headcontent %}
        <p class="text-justify">
            <h1>
            Hi, I'm Evan and I made this blog. 
            </h1>
        </p>
        <p class="text-justify"><b>
            Let's stay in touch!
        </b></p>
    {% endblock headcontent %}

    {% block content %}
        <p class="text-justify">
            Send me a message via email, or LinkedIn. 
            You can also check my portfolio on Github.
        </p>
        <p class="text-justify">
            Feel free to send me your suggestions and comments regarding my work.
            I'm hoping to hear from you.
        </p> 
        <br>      
        <div class="list-group list-group-flush">
            <a href="https://mail.google.com" class="list-group-item list-group-item-action">evbpalmejar@gmail.com</a>
            <a href="https://www.linkedin.com/in/evbpalmejar1994" class="list-group-item list-group-item-action">linkedin.com/evbpalmejar1994</a>
            <a href="https://github.com/evnplmjr" class="list-group-item list-group-item-action">github.com/evnplmjr</a>           
          </div>
    {% endblock content %}