{% extends "layout.html" %}

    {% block headcontent %}
        <h1>
            Breaking down the PSE
        </h1>
        <p class="text-justify"><b>
            In this blog, we will be dissecting and exploring the companies that make up the Philippine Stock Exchange (PSE) and the 
            value these companies bring to the market. Learn more from the Charts.
        </b></p>
    {% endblock headcontent %}

    {% block content %}
        <style>
            body {
            background-image: url(
            'https://images.unsplash.com/photo-1534951009808-766178b47a4f?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=ibrahim-rifath-OApHds2yEGQ-unsplash.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            }
        </style>
    {% endblock content %}